.nav__wrapper {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  color: var(--primary-color);
  font-family: 'Josefin Sans';
  font-size: 24px;
  line-height: 26px;
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(37,40,51,1) 0%, rgba(37,40,51,0.9) 67%, rgba(37,40,51,0) 93%);
  letter-spacing: -1px;
  max-width: 480px;
}

.nav__wrapper span {
  margin-top: 6px;
}

.nav__button-back {
  background-color: transparent;
  cursor: pointer;
  padding: 8px;
  border: none;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  font-size: 24px;
  position: absolute;
  left: 24px;
}