body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 480px;
}
.separator-s {
  padding-bottom: 8px;
}

.separator-m {
  padding-bottom: 16px;
}

.separator-l {
  padding-bottom: 24px;
}
